Time.Api/Properties/launchSettings.json
Time.Api/obj/project.assets.json
Time.Api/obj/project.nuget.cache
Time.Api/obj/Time.Api.csproj.nuget.dgspec.json
Time.Api/obj/Time.Api.csproj.nuget.g.props
Time.Api/obj/Time.Api.csproj.nuget.g.targets
Time.Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Time.Api/obj/Debug/net9.0/apphost.exe
Time.Api/obj/Debug/net9.0/rbcswa.dswa.cache.json
Time.Api/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
Time.Api/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
Time.Api/obj/Debug/net9.0/rpswa.dswa.cache.json
Time.Api/obj/Debug/net9.0/staticwebassets.removed.txt
Time.Api/obj/Debug/net9.0/Time.Api.assets.cache
Time.Api/obj/Debug/net9.0/Time.Api.csproj.FileListAbsolute.txt
Time.Api/obj/Debug/net9.0/Time.Api.GlobalUsings.g.cs
Time.Api/bin/Debug/net9.0/appsettings.Development.json
Time.Api/bin/Debug/net9.0/appsettings.json
Time.Api/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
Time.Api/bin/Debug/net9.0/Microsoft.OpenApi.dll
Time.Api/bin/Debug/net9.0/Scalar.AspNetCore.dll
Time.Api/bin/Debug/net9.0/Time.Api.deps.json
Time.Api/bin/Debug/net9.0/Time.Api.dll
Time.Api/bin/Debug/net9.0/Time.Api.exe
Time.Api/bin/Debug/net9.0/Time.Api.pdb
Time.Api/bin/Debug/net9.0/Time.Api.runtimeconfig.json
Time.Api/bin/Debug/net9.0/Time.Api.staticwebassets.endpoints.json
Time.Api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
Time.Api/obj/Debug/net9.0/staticwebassets.build.json
Time.Api/obj/Debug/net9.0/staticwebassets.build.json.cache
Time.Api/obj/Debug/net9.0/Time.Api.AssemblyInfo.cs
Time.Api/obj/Debug/net9.0/Time.Api.AssemblyInfoInputs.cache
Time.Api/obj/Debug/net9.0/Time.Api.csproj.AssemblyReference.cache
Time.Api/obj/Debug/net9.0/Time.Api.csproj.CoreCompileInputs.cache
Time.Api/obj/Debug/net9.0/Time.Api.csproj.Up2Date
Time.Api/obj/Debug/net9.0/Time.Api.dll
Time.Api/obj/Debug/net9.0/Time.Api.GeneratedMSBuildEditorConfig.editorconfig
Time.Api/obj/Debug/net9.0/Time.Api.genruntimeconfig.cache
Time.Api/obj/Debug/net9.0/Time.Api.MvcApplicationPartsAssemblyInfo.cache
Time.Api/obj/Debug/net9.0/Time.Api.MvcApplicationPartsAssemblyInfo.cs
Time.Api/obj/Debug/net9.0/Time.Api.pdb
Time.Api/obj/Debug/net9.0/Time.Api.sourcelink.json
Time.Api/obj/Debug/net9.0/ref/Time.Api.dll
Time.Api/obj/Debug/net9.0/refint/Time.Api.dll
